{% load i18n %}

{% block subject %}
  {% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}
{% block text_body %}
  {% with full_url=protocol|add:'://'|add:domain|add:'/'|add:url %}
    {% include "email/_text_scaffold.txt" with heading="Account activation on "|add:site_name intro_text="You are receiving this email because you need to finish activating your account on "|add:site_name secondary_intro_text="Please use the activation link below to continue." cta_label="Activate Account" cta_url=full_url copy_label="Or copy this link:" copy_text=full_url notice_title="Link expires in 24 hours" notice_text="Please activate your account soon to avoid expiration." footer_text="The "|add:site_name|add:" team" %}
  {% endwith %}
{% endblock text_body %}
{% block html_body %}
  {% with full_url=protocol|add:'://'|add:domain|add:'/'|add:url %}
    {% include "email/_scaffold.html" with heading="Account activation on "|add:site_name identity_name=user.get_full_name identity_detail=user.email badge_text="Account Status: Pending" intro_text="You're receiving this email because you need to finish activating your account on "|add:site_name secondary_intro_text="Please use the activation button below to continue." cta_label="Activate Account" cta_url=full_url copy_label="Or copy this link:" copy_text=full_url notice_title="Link expires in 24 hours" notice_text="Please activate your account soon to avoid expiration." footer_text="The "|add:site_name|add:" team" %}
  {% endwith %}
{% endblock html_body %}
