{% load i18n %}

{% block subject %}
  {% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock subject %}
{% block text_body %}
  {% with full_url=protocol|add:'://'|add:domain|add:'/' %}
    {% include "email/_text_scaffold.txt" with heading=site_name|add:" - Your password has been successfully changed!" intro_text="Your password has been changed!" secondary_intro_text="You can use the button below to return to the site." cta_label="Start Exploring" cta_url=full_url copy_label="Site address:" copy_text=full_url notice_title="Password Updated" notice_text="Your account is now secured with the new password." footer_text="The "|add:site_name|add:" team" %}
  {% endwith %}
{% endblock text_body %}
{% block html_body %}
  {% with full_url=protocol|add:'://'|add:domain|add:'/' %}
    {% include "email/_scaffold.html" with heading=site_name|add:" - Your password has been successfully changed!" identity_name=user.get_full_name identity_detail=user.email badge_text="Status: Confirmed ✓" intro_text="Your password has been changed!" secondary_intro_text="You can use the button below to return to the site." cta_label="Start Exploring" cta_url=full_url copy_label="Site address:" copy_text=full_url notice_title="Password Updated" notice_text="Your account is now secured with the new password." footer_text="The "|add:site_name|add:" team" %}
  {% endwith %}
{% endblock html_body %}
